<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="Contest Suite" verbose="1" >
    <test name="Test_Predictions" >
        <classes>
            <class name="com.sapfir.tests.Test_Predictions" />
            <class name="com.sapfir.tests.Test_ValidatePredictions" />
        </classes>
    </test>
</suite>
